<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div align="center">
<h2>게시판 목록보기 <a th:href="@{/index.html}">( 처음으로 )</a> </h2>

<span sec:authorize="isAuthenticated()">
<font color="red" th:text="${session['member'].name}" ></font>
<a th:href="@{/system/logout.do}"> LOG_OUT </a>
</span>
<br><br>
<form>
<table width=600 border=1>
	<tr>
		<td align=right>
			<select name="ch1">
				<option value="title">제목</option>
				<option value="name">작성자</option>
			</select>
			<input type=text name="ch2">
			<input type=submit value="검색하기">
		</td>
	</tr>
</table>
</form>

<table border=1 width=600>
	<tr align="center">
		<td>번호</td>
		<td>제목</td>
		<td>작성자</td>
		<td>작성일</td>
		<td>조회수</td>
	</tr>
	<tr align="center" th:each="m, state : ${li}">
		<td th:text="${m.seq}"></td>
		<td><a th:href="@{/board/getBoard.do(seq=${m.seq})}" th:text="${m.title}"></a></td>
		<td th:text="${m.name}"></td>
		<td th:text="${#dates.format(m.createDate,'yyyy-MM-dd')}"></td>
		<td th:text="${m.cnt}"></td>
	</tr>
</table>
<a th:href="@{/board/insertBoard}"> 새글 등록 </a>
</div>
</body>
</html>